<!DOCTYPE html>
<html lang="en">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8"/>
    <title>Course</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/jquery.easing.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/custom.js" type="text/javascript"></script>
    <style>
        li{
        list-style-type:square;
        }

    </style>
</head>
<body>
<div class="container-fluid">
    <span th:replace='header'></span>
    <nav class="navbar navbar-default navbar-fixed-top box-shadow" style="padding: 10px;">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color: #00bfff" href="/home">Coding<span
                    style="color: black">Superstar</span></a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar" style="float: right">

            <ul class="nav navbar-nav navbar-right">
                <li th:if="${isLogin=='1'}">
                    <a class="pointer" data-toggle="dropdown" th:text="${name}">
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/user/logout">Log out</a></li>
                    </ul>
                </li>
                <li th:if="${isLogin=='0'}">
                    <a href="/doLogin">Login</a>
                </li>

            </ul>
        </div>

    </nav>
</div>
<div class="container" style="margin-top:120px;">
    <div class="row">
        <h4><p class="text-center">Block Chain</p></h4>
        <br/>
    </div>

    <div class="row text-center">
        <div class="col-sm-12 text-center" >
            <img style="width:100%;" src="/img/DUTCH-PROJECT-IS-CENTERED-ON-DELIVERING-THREE-BLOCKCHAIN-USE-CASES-FOR-LOGISTICS.jpg" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
        </div>
        <div class="col-sm-12">
            <br/>
            <p>
                A blockchain is a digitized, decentralized, public ledger of all cryptocurrency transactions. Constantly
                growing as ‘completed’ blocks (the most recent transactions) are recorded and added to it in
                chronological order, it allows market participants to keep track of digital currency transactions
                without central recordkeeping. Each node (a computer connected to the network) gets a copy of the
                blockchain, which is downloaded automatically.<br/>
                Originally developed as the accounting method for the virtual currency Bitcoin, blockchains – which use
                what's known as distributed ledger technology (DLT) – are appearing in a variety of commercial
                applications today. Currently, the technology is primarily used to verify transactions, within digital
                currencies though it is possible to digitize, code and insert practically any document into the
                blockchain. Doing so creates an indelible record that cannot be changed; furthermore, the record’s
                authenticity can be verified by the entire community using the blockchain instead of a single
                centralized authority.<br/>

                This blockchain course is meant for anyone who has an interest in blockchain or cryptocurrency
                technology and who want to know more about the underlying mechanisms that make up a blockchain. Although
                there will be some references to cryptocurrencies, such as Bitcoin and Ethereum, this course is about
                blockchain technology on a low level. As such, this course may not be for those who are wanting to do a
                deep dive into cryptocurrencies specifically.
            </p>
        </div>
    </div>
    <div class="row" style="padding:10px">
            <div class="row text-center">
                <a href="/user/6/paymentForm?redirect=self">
                    <button class="btn btn-info" style="margin:auto;">Enroll Me</button>
                </a>
            </div>
        </div>
    </div>
<span th:replace='footer'></span>

</body>
</html>