<!DOCTYPE html>
<html lang="en">

<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Geo" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto" rel="stylesheet"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/jquery.easing.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/custom.js" type="text/javascript"></script>

    <script>


      setTimeout(function(){
      if($('#enquirypop').attr('data-open')=='false'){
       $('#enquirypop').show();
       }
    }, 30000);












    </script>
    <!-- =======================================================
          Theme Name: Mentor
          Theme URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
          Author: BootstrapMade.com
          Author URL: https://bootstrapmade.com
      ======================================================= -->
</head>

<body onload="$('#enquirypop').hide();$('#alertTab').hide();$('#loadingFirst').hide();">

<div id='loadingFirst'
     style="width:100%;height:100vh;background-color:white;position:fixed;z-index:100000000;border:1px solid white;">
    <img src="img/index.triple-gears-loading-icon.svg" style="margin-left:calc(100%/2);margin-top:100px;"/>
</div>
<!--Navigation bar-->
<div class="container-fluid">
    <div id="alertTab" class="alert alert-danger"
         style="z-index:10000000;position:absolute;width:700px;margin-left:calc(100vw/2 - 350px)">
        <strong class="glyphicon glyphicon-remove" onclick="$('#alertTab').hide();"></strong> <span id="messageTest">Indicates a dangerous or potentially negative action.</span>
    </div>
    <nav class="navbar navbar-default navbar-fixed-top box-shadow" style="padding: 10px;">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color: #00bfff" href="/home">Coding<span
                    style="color: black">Superstar</span></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar" style="float: right">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#feature">Why Artificial Intelligence?</a></li>
                <li><a href="#courses">Courses</a></li>
                <li><a href="/doSignup">Sign Up</a></li>
                <!--<li><a href="tel:+919620712187" class="Blondie"> We're here to help! +91-9620-712-187</a></li>-->
                <li th:if="${isLogin=='1'}">
                    <a class="pointer" data-toggle="dropdown" th:text="${name}">
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/user/logout">Log out</a></li>
                    </ul>
                </li>
                <li th:if="${isLogin=='0'}">
                    <a href="/doLogin">Login</a>
                </li>

            </ul>
        </div>

    </nav>
</div>

<!--/ Navigation bar-->
<!--Modal box-->
<!--/ Modal box-->
<!--Banner-->
<div class="container-fluid " style="padding:0px;margin:0px;">

    <div class="banner box-shadow">
        <div class="bg-color"></div>
        <!--<div id='strip'-->
        <!--style="top:calc(100vh/2 - 50px);width: 100%;min-height: 100px;background-color: rgba(255,255,255,0);position: absolute;">-->
        <!--<h1>-->
        <!--<p class="text-center "-->
        <!--style="margin-top: 35px;color: white;font-size: 35px;font-family: 'Open Sans Condensed', sans-serif;">-->
        <!--Be a rising star in the emerging world of-->
        <!--ARTIFICIAL INTELLIGENCE</p>-->
        <!--<p class="text-center "-->
        <!--style="margin-top: 35px;color: white;font-size: 25px;font-family: 'Open Sans Condensed', sans-serif;">-->
        <!--Faster Than You Ever Thought Possible-->
        <!--</p>-->
        <!--</h1>-->
        <!--</div>-->
    </div>
</div>

<div class="container-fluid" style="height: auto; min-height: 100px;">
    <h1>
        <p class="text-center "
           style="color:#33AEE7;color:black;margin-top: 35px;font-size: 35px;font-family: 'Open Sans Condensed', sans-serif;">
            BE A RISING STAR IN THE EMERGING WORLD OF
            ARTIFICIAL INTELLIGENCE</p>
        <p class="text-center "
           style="color:#33AEE7;margin-top: 35px;font-size: 25px;font-family: 'Open Sans Condensed', sans-serif;">
            Faster Than You Ever Thought Possible
        </p>
    </h1>
</div>


<section id="feature" class="section-padding ">
    <div class="container-fluid ">
        <div class="row">
            <h1 class="text-center" style="padding-bottom: 0">Why Artificial Intelligence?</h1>
            <hr/>
        </div>
        <div class="row">

            <div class="col-md-6">

                <br/>
                <p>
                    Artificial Intelligence is on the rise. You can listen to the murmurs how Artificial Intelligence is
                    taking away IT sector jobs, lakhs are expected
                    to be laid off in the next couple of years. It's clear that one won't be able to keep their job
                    without acquiring
                    this knowledge on this new competitor of human workforce. But where to go, how to start. There is so
                    much ruckus
                    and euphoria,
                </p>
            </div>

            <div class="col-md-6">

                <div id="myCarousel" class="carousel slide" style="margin-top: 30px;" data-ride="carousel">
                    <!-- Indicators -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" style="color: #589a6a">
                        <div class="item active">
                            <p>
                                <i>
                                    "...data scientists, for whom the demand is projected to exceed supply by more than
                                    50% by 2018."

                                </i><br/>
                                <span style="float: right;margin-left: 100px;">  - Forbes</span>
                            </p>
                        </div>

                        <div class="item">
                            <p><i>

                                "Data Scientist: The Sexiest Job of the 21st Century"
                            </i></p>
                            <span style="float: right;margin-left: 100px;"> - Harvard Business Review</span>
                        </div>

                        <div class="item">
                            <p><i>“Google makes its first Indian acquisition with AI startup Halli Labs”

                            </i></p>
                            <span style="float: right;margin-left: 100px;">   - Business Standard</span>
                        </div>

                        <div class="item">
                            <p><i>“It’s not magic It’s just a tool. But it’s a really important tool.”

                            </i></p>
                            <span style="float: right;margin-left: 100px;">   - Greg Corrado, Google</span>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <div class="text-center hide" style="height: auto">
                        <ol class="carousel-indicators" style="margin-top: 30px;">
                            <li data-target="#myCarousel" style="border: 1px solid gray" data-slide-to="0"
                                class="active"></li>
                            <li data-target="#myCarousel" style="border: 1px solid gray" data-slide-to="1"></li>
                            <li data-target="#myCarousel" style="border: 1px solid gray" data-slide-to="2"></li>
                            <li data-target="#myCarousel" style="border: 1px solid gray" data-slide-to="3"></li>
                        </ol>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-sm-12" style="padding: 0px;">
            but no one's good old engineer how to get acquainted with this beast and eventually tame it. This is where
            <a style="color: #00bfff" href="index.html">CODING<span style="color: black">SUPERSTAR</span></a> comes into
            picture. We are here to help you learn this new, exciting paradigm of problem solving. For starters, we are
            offering
            a course on Machine Learning, the most important branch of Artificial Intelligence. We'll take you through
            the through the basics of machine
            learning, introduce you to the kinds of problems most frequently encountered and guide you through some
            exciting
            algorithms to tackle each of them.
        </div>

    </div>
</section>
<!--/ feature-->
<!--Organisations-->
<!--<section id="organisations" style="background-color: white" class="section-padding">
  <div class="container">
    <div class="row">

      <div class="col-md-4 text-center">
        <div><img src="img/42_d546_3.jpg" class="imageDiv"></div>
        Indulge your curiosity
      </div>
      <div class="col-md-4 text-center">
        <div><img src="img/44_ef8c_3.jpg" class="imageDiv"> </div>Land an Exciting New Tech Job
      </div>
      <div class="col-md-4 text-center">
        <div> <img src="img/46_15bc_3.jpg" class="imageDiv"> </div> in Your Passion
      </div>
      <div class="col-md-4 text-center">
        <img src="img/50_4653_3.jpg" class="imageDiv">
        Unlock Your Potential
      </div>
      <div class="col-md-4 text-center">
        <img src="img/52_7ea5_3.jpg" class="imageDiv">
        <label>Fuck you</label>
      </div>
      <div class="col-md-4 text-center">
        <img src="img/56_64c8_3.jpg" class="imageDiv">
        <label>Fuck you</label>
      </div>

    </div>
  </div>
</section>-->
<!--/ Organisations-->
<!--Cta-->

<!--/ Cta-->
<!--work-shop-->

<hr/>
<section id="testimonial" style="background-color: white;" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>WHAT PEOPLE ARE SAYING ABOUT CODINGSUPERSTAR?</h2>

            </div>
            <div class="col-md-6 col-sm-6">
                <div class="row text-center">
                    <img src="img/mp.png"
                         style="height: 80px;border-radius: 70px;margin-top: 20px;border: 1px solid rgba(0,0,0,0.5)"/>
                    <div class="row">
                        <div class="text-comment">
                            <p><i>CODINGSUPERSTAR you've helped me change the way I look at my career. With your help, I
                                have
                                realized the profundity of the Artificial Intelligence,the power of machine learning,how
                                I can be technology expert in resolving real time challenges. You've ignited the genius
                                in me and many others.. I am eternally grateful that you have shared so much with the
                                world. It is truly priceless. Thank you very much.</i>
                            </p>
                            <p class="text-name">Nabeel Abdullah - Software Engineer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 text-center">
                <img src="img/sr.jpg"
                     style="height: 80px;border-radius: 70px;margin-top: 20px;border: 1px solid rgba(0,0,0,0.5)"/>
                <div class="row">
                    <div class="text-comment" style="">
                        <p class=""><i>My day is not complete without having a one-on-one call with CODINGSUPERSTAR
                            expert. My
                            daily consultations with them in terms of growing my career have had a great impact in my
                            life. I'm enjoying being machine learning engineer doing the things that matter while
                            growing my career at the same time. Thanks CODINGSUPERSTAR!</i>
                        </p>
                        <p class="text-name">Ankur Sharma - Sr QA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Testimonial-->
<!--Courses-->
<hr/>
<section id="courses" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>READY TO SHIFT TO THE TOPMOST GEARS OF YOUR CAREER?</h2>

                <br/>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-md-8" style="float:right">
                <div class="col-sm-6">
                    <img src="img/ai.jpeg" style="width: 100%"/>
                </div>
                <div class="col-sm-6">
                    <br/>
                    <p><strong>FAST LANE
                        MACHINE LEARNING
                        MASTERY</strong></p>
                    <hr/>
                    <p>I want to master machine learning thereby become capable of solving real time problems of real
                        time companies.</p>
                    <hr/>
                    <a href="/1/course">
                        <button style="width:100%;" class="btn btn-info">START MY TRENDING JOURNEY NOW</button>
                    </a>
                </div>


            </div>

        </div>
        <br/>
        <hr/>
        <br/>
        <div class="row">

            <div class="col-md-8" style="float:left">
                <div class="col-sm-6">
                    <img src="img/dp.jpg" style="width: 100%"/>
                </div>
                <div class="col-sm-6">
                    <br/>
                    <p><strong>FAST LANE
                        DEV-OPS
                        MASTERY</strong></p>
                    <hr/>
                    <p>DevOps has been proven to increase the speed, efficiency and quality of software delivery as well
                        as improving staff morale and motivation.</p>
                    <hr/>
                    <a href="/2/course">
                        <button style="width:100%;" class="btn btn-info">START MY TRENDING JOURNEY NOW</button>
                    </a>
                </div>


            </div>

        </div>

        <br/>
        <hr/>
        <br/>
        <div class="row">
            <div class="col-md-8" style="float:right">
                <div class="col-sm-6">
                    <img src="/img/fullstack.jpg" style="width: 100%"/>
                </div>
                <div class="col-sm-6">
                    <br/>
                    <p><strong>FAST LANE
                        FULL STACK WEB DEVELOPER
                        MASTERY</strong></p>
                    <hr/>
                    <p>Full stack web developer uses a combination of HTML, CSS, and JavaScript to build everything a
                        user sees and interacts with on a website.</p>
                    <hr/>
                    <a href="/3/course">
                        <button style="width:100%;" class="btn btn-info">START MY TRENDING JOURNEY NOW</button>
                    </a>
                </div>


            </div>

        </div>


        <br/>
        <hr/>
        <br/>
        <div class="row">
            <div class="col-md-8" style="float:left">
                <div class="col-sm-6">
                    <img src="/img/190x128hadoop5_9.jpg" style="width: 100%"/>
                </div>
                <div class="col-sm-6">
                    <br/>
                    <p><strong>FAST LANE
                        HADOOP
                        MASTERY</strong></p>
                    <hr/>
                    <p>Hadoop is an open source, Java-based programming framework that supports the processing and
                        storage of extremely large data sets in a distributed computing environment.</p>
                    <hr/>
                    <a href="/4/course">
                        <button style="width:100%;" class="btn btn-info">START MY TRENDING JOURNEY NOW</button>
                    </a>
                </div>


            </div>

        </div>


    </div>
</section>


<div id="enquirypop" data-open="false" class="box-shadow"
     style="display:hidden;z-index:102;width:290px;height:425px;background-color:#f5f5f5;bottom:0px;right:0px;position:fixed;border:1px solid transparent">
    <div style="background-color:#1b3f8b;height:25px;width:100%;">
        <div class="col-sm-10"></div>
        <div class="col-sm-2">
            <span style="color:white" onclick="$('#enquirypop').hide();"
                  class="glyphicon glyphicon-minus pointer"></span>
        </div>

    </div>
    <div style="background-color:#1b3f8b;height:400px;width:100%;color:white">
        <div class="container" style="border:1px solid transparent">

            <div class="form-group">
                <label for="email">Email*</label>
                <input type="email" class="form-control" style="width:250px;" id="email" placeholder="Enter email"
                       name="email" required="true"/>
            </div>
            <div class="form-group">
                <label for="pwd">Name*</label>
                <input type="text" class="form-control" style="width:250px;" id="name" placeholder="Enter Name"
                       name="name" required="true"/>
            </div>
            <div class="form-group">
                <label for="pwd">Contact*</label>
                <input type="text" class="form-control" style="width:250px;" id="contact" placeholder="Enter Contact"
                       name="contact" required="true"/>
            </div>
            <div class="form-group">
                <label for="pwd">Message(optional)</label>
                <textarea type="text" class="form-control" style="width:250px;height:70px;" id="message"
                          placeholder="Enter Message" name="message"/>
            </div>
            <button type="submit" onclick="doAlertSubmit();" class="btn btn-default">Submit</button>

        </div>
    </div>
</div>


<!--/ Courses-->
<!--Pricing-->

<!--/ Pricing-->
<!--Contact-->

<!--/ Contact-->
<!--Footer-->
<footer id="footer" class="footer">
    <div class="container text-center">


        <!-- End newsletter-form -->
        <!--<ul class="social-links">
          <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
          <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
          <li><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
          <li><a href="#link"><i class="fa fa-dribbble fa-fw"></i></a></li>
          <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
        </ul>-->
        ©2017 CODINGSUPERSTAR
        <div class="credits">
            <!--
                    All the links in the footer should remain intact.
                    You can delete the links only if you purchased the pro version.
                    Licensing information: https://bootstrapmade.com/license/
                    Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Mentor
                -->

        </div>
    </div>
</footer>
<!--/ Footer-->
<button onclick="$('#enquirypop').show();$('#enquirypop').attr('data-open','true')"
        style="outline :none;z-index:100;border-radius:100%;position:fixed;right:30px;bottom:30px;padding:20px;padding-top:15px;padding-bottom:15px;"
        type="button" class="btn btn-primary"><i class="glyphicon glyphicon-send"></i></button>

</body>

</html>